<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<appSettings>
		<add key="App.Version" value="1.0.0.4"/>
		<!--MongoDB-->
		<add key="Database.Ip" value="127.0.0.1"/>
		<add key="Database.Port" value="27017"/>
		<add key="Database.Name" value="ASIS"/>
		
		<!--Host Server-->
		<add key="MainService.Address" value="http://localhost:8080"/>
		<!--<add key="PhotoUrlPrefix" value="http://192.168.1.102:8080/api/user/photo/"/>-->
		<add key="PhotoUrlPrefix" value="http://10.6.1.2:8080/api/user/photo/"/>

		<!--HIK NVR Server-->
		<!--<add key="HIK.Ip" value="192.168.1.192"/>-->
		<add key="HIK.Ip" value="10.6.1.130"/>
		<add key="HIK.Port" value="8000"/>
		<add key="HIK.Username" value="admin"/>
		<add key="HIK.Password" value="yunda123"/>
		
		<!--Speaker Server-->
		<add key="Speaker.Server" value="http://10.6.1.4:8001"/>
		<add key="Speaker.SwitchOff" value="，各单位请注意，{0}股道准备分闸"/>
		<add key="Speaker.SwitchOn" value="，各单位请注意，{0}股道准备合闸"/>
		<add key="Speaker.Evacuate" value="，各单位请注意，{0}股道撤离警告"/>

		<!--Algorithm Server-->
		<!--<add key="Algorithm.Server.Host" value="http://192.168.1.104:8081"/>-->
		<add key="Algorithm.Server.Host" value="http://10.6.1.3:8081"/>
		<add key="Algorithm.Server.Authkey" value="AuthKey"/>

		<!--ToolBox Server-->
		<add key="ToolBox.Server.Host" value="http://192.168.1.88:8082"/>
		<add key="ToolBox.Server.Slave" value="http://192.168.1.88:8089"/>

	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.0.12.0" newVersion="2.0.12.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<connectionStrings>
		<add name="MySqlDbContext" connectionString="server=192.168.1.87;user id=root;password=root;persistsecurityinfo=True;database=cdyunda-toolsdb;Character Set=utf8" providerName="MySql.Data.MySqlClient"/>
	</connectionStrings>
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
			<provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.EntityFramework, Version=8.0.24.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d">
			</provider>
		</providers>
	</entityFramework>
</configuration>
