<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Y.ASIS.App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<appSettings>
		<!--<add key="Y.ASIS.Server.Host" value="http://192.168.1.102:8080"/>-->
		<!--<add key="Y.ASIS.Server.Host" value="http://192.168.1.87:8080"/>-->
		<!--<add key="AuthKey" value="5555555555555555"/>-->

		<!--<add key="Y.ASIS.Server.Host" value="http://10.6.1.2:8080"/>-->
		<!--<add key="AuthKey" value="8888888888888888"/>-->

		<add key="Y.ASIS.Server.Host" value="http://192.168.1.4:8080"/>
		<add key="AuthKey" value="5555555555555555"/>
		
		<add key="PushAddress" value="http://localhost:9090"/>
		
		<add key="Algorithm.Server.Host" value="http://10.6.1.3:8081"/>
		<add key="Algorithm.Server.Authkey" value="1234567890123456"/>

		<!--HIK NVR Server-->
		<!--<add key="HIK.Ip" value="192.168.1.192"/>-->
		<add key="HIK.Ip" value="10.6.1.130"/>
		<add key="HIK.Port" value="8000"/>
		<add key="HIK.Username" value="admin"/>
		<add key="HIK.Password" value="yunda123"/>

		<add key="Login.No" value="290017"/>
		<add key="Login.Password" value="1918"/>
	</appSettings>
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
			<provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6"/>
		</providers>
	</entityFramework>
	<system.data>
		<DbProviderFactories>
			<remove invariant="System.Data.SQLite.EF6"/>
			<add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6"/>
			<remove invariant="System.Data.SQLite"/>
			<add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/>
		</DbProviderFactories>
	</system.data>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
			</providers>
		</roleManager>
	</system.web>
	<applicationSettings>
		<Y.ASIS.App.Properties.Settings>
			<setting name="Project" serializeAs="String">
				<!--
		      NationalRailway: 国铁
			  NationalRailway_BaiSe: 国铁白色
		      CityRailway_1: 城轨1(无工具柜|含验电)
		      CityRailway_2: 城轨2(无工具柜|无验电)
		      Shenzhen12: 深12(无安全确认按钮,自动安全确认)
		  -->
				<value>NationalRailway_BaiSe</value>
			</setting>
		</Y.ASIS.App.Properties.Settings>
	</applicationSettings>
</configuration>
